mistralai

flask
gunicorn
python-dotenv

sqlalchemy
cloud-sql-python-connector
pg8000
psycopg2-binary

openai
requests

pandas
numpy

lime
shap

plotly

# --- Added for FastAPI backend ---
fastapi
uvicorn

# --- Added for SQLAlchemy 2.0 compatibility  ---
greenlet

flask-session

